body{
    
    margin: 0;
    background-image: url("../images/large_web.jpg");
}

.container{
    
    position: absolute;
    top: 11%;
    left: 27%;
    width: 500px;
    height: 500px;
    border: 2px solid darkseagreen;
}

/**canvas{
    
    border: 2px solid red;
    width: 500px;
    height: 500px;
}*/

.container > div.frontSide {
    
    width: 112px;
    height: 113px;
    float: left;
    border: 0.5px solid black;
    padding: 2px 2px;
    margin: 3px;
    background-image: url('../images/Handmade-Solar-System-Bracelet-The-Eight-Planets.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.backSide {

    width: 112px;
    height: 113px;
    float: left;
    border: 0.5px solid black;
    padding: 2px 2px;
    margin: 3px;

}

.bImage{

    background-image: url('/images/ring.png')
}